button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: $color__yellow;
	border: none;
	border-radius: 3px;
	width: 370px;
	height: 54px;
	@include font-size(1.8);
	color: $color__gray;
	font-weight: 700;

	&:hover {
		border-color: $color__border-button-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
